$anim-bg-size: 160px;

.animate-background {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("../../static/heart_image.png");
  background-repeat: repeat;
  background-size: $anim-bg-size;

  animation: moveBackground 3s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(0px - $anim-bg-size) calc(0px - $anim-bg-size);
  }
}